#advantage .container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.advantage-details {
  width: 100%;
  display: flex;
}

.advantage-details.reverse {
  flex-direction: row-reverse;
}

.advantage-details article {
  width: 50%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
}

.advantage-details article h4 {
  font-size: 36px;
  line-height: 65px;
}

@media only screen and (max-width: 480px) {
  .advantage-details {
    display: block;
    height: 100%;
  }

  #advantage .container {
    display: block;
    position: static;
  }

  .advantage-details article {
    width: 100%;
    gap: 25px;
    margin: 50px 0;
  }

  .advantage-details article h4 {
    font-size: 24px;
    line-height: 40px;
  }
}
