#features {
  width: 100%;
  margin: 150px 0;
}

#features .container {
  display: flex;
  gap: 40px;
}

.feature-icon {
  background-color: #eef4ff;
  width: fit-content;
  padding: 22px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  display: flex;
}

.feature-icon img {
  margin: auto;
}

.feature-item h5 {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.feature-item p {
  line-height: 36px;
}

@media only screen and (max-width: 480px) {
  #features {
    margin: 50px 0;
  }
  #features .container {
    flex-direction: column;
  }

  .feature-item {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
