#hero {
  background-color: #eef4ff;
  padding: 120px 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

#hero .container {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

#hero article {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#hero aside {
  width: 50%;
}

#hero article h1 {
  font-size: 64px;
  line-height: 85px;
}

#hero aside img {
  width: 100%;
  object-fit: cover;
}

/* Mobile //////////////////////// */

@media only screen and (max-width: 480px) {
  #hero {
    padding: 0;
    padding-top: 150px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #hero .container {
    flex-direction: column;
    row-gap: 40px;
  }

  #hero article {
    width: 100%;
    gap: 40px;
  }

  #hero article h1 {
    font-size: 48px;
  }

  #hero aside {
    width: 100%;
    padding: 80px 0;
  }
}
